/*Titulos*/
@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative");
/*Textos importantes*/
@import url("https://fonts.googleapis.com/css?family=Cinzel");
/*Textos Vacios*/
@import url("https://fonts.googleapis.com/css?family=Flow+Rounded");
/*Textos*/
@import url("https://fonts.googleapis.com/css?family=Poiret+One");


body{
    background-color: #eecfb7;
}

/*-------------------------------*/
/*cabecera*/
.imgcabecera{
    width: 100%;
}

/*------------------------------*/
/*menu*/
.menu{
    background-color: #DAB598;
}

.menu ul{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu ul li{
    font-family: "Cinzel", bold;
    display: inline-block;
}

.menu ul li a{
    display: block;
    color: black;
    padding: 10px 35px;
    text-decoration: none;
    
}

.item-r{
    float: right;
}

/* Cambia color fondo al pasar el cursor */
.menu ul li a:hover{
    background-color: #415889;
}

/*-----------------------------------*/
/*pie de pagina*/
.footer {
    background-color: #DAB598;
    text-align: center;
}

.logo{
    display: block;
    width: 5%;
    margin-right: 45%;
    margin-left: 45%;
    padding: 10px;
}

/*----------------------------------*/
/*contenido*/

* {
    box-sizing: border-box;
}

.contenido{
    content: "";
    clear: both;
    display: table;
}

.tittle{
    font-family: "Cinzel Decorative", bold;
    float: left;
    width: 100%;
    padding: 5px;
    margin-bottom: 2%;
    margin-top: 3%;
    text-align: center;
}

.imagenI{
    float: left;
    width: 15%;
    margin-left: 18%;
    margin-top: 7%;
}

.imagenI img{
    border-radius: 5%;
}

.textoD {
    font-family: "Poiret One", bold;
    float: right;
    width: 45%;
    padding: 30px;
    margin-right: 18%;
    background-color:#DAB598;
    line-height: 30px;

}

.imagenD{
    float: right;
    width: 15%;
    margin-right: 18%;
    margin-top: 7%;
}

.imagenD img{
    border-radius: 5%;
}

.textoI {
    font-family: "Poiret One", bold;
    float: left;
    width: 45%;
    padding: 30px;
    margin-left: 18%;
    background-color:#DAB598;
    line-height: 30px;

}

.textoVacio {
    font-family: "Flow Rounded", bold;
    float: right;
    width: 45%;
    padding: 5px;
    margin-right: 16%;
    background-color:#DAB598;

}

